html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 1px;
}
